.landing{
    height: 200vh; /* may cause problems later...*/
    background: rgb(56,89,38) !important;
    background: linear-gradient(180deg, rgba(56,89,38,1) 0%, rgba(39,144,9,1) 30%, rgba(41,159,0,1) 100%) !important;
}

.login-btn{
    margin-right: 2% !important;
}

.login-form{
    padding: 2%;
}

.login-username, .login-password{
    padding-right: 2%;
}

.logo{
    width: 40%;
    max-width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 5% 0;
}

.logo-subheading{
    background-color: green;
    border-radius: 10px;
    margin: 0 10%;
    font: var(--f-heading) !important;
    text-align: center;
}
  

.signup-link{
    color: white;
    transition: color .1s ease;
}
.signup-button:hover > .signup-link{
    color: black;
}

.signup-button-container{
    text-align: center;
    padding: 5%;
}

/* SIGN UP PAGE */

.signup{
    background: rgba(5, 58, 192, 0.3);
}

.signup-form{
    padding: 10%;
    padding-top: 2%;
}

.signup-form-header{
    font: var(--f-heading);
    margin-top: 3%;
    border-bottom: 1px solid var(--cs-black);
    font-size: 2.2rem;
}

.address-btn{
    padding-bottom: 3%;
}

.signup-btns{
    width: 100%;
}