.landing{
    height: 200vh; /* may cause problems later...*/
    background: rgb(164,164,164) !important;
    background: linear-gradient(180deg, rgba(164,164,164,1) 0%, rgba(199,199,199,1) 28%, rgba(224,224,224,1) 100%) !important;
}

.login-btn{
    margin-right: 2% !important;
}

.login-form{
    padding: 2%;
}

.login-username, .login-password{
    padding-right: 2%;
}

.logo{
    width: 40%;
    max-width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 5% 0;
}

.logo-subheading{
    font: var(--f-heading) !important;
    text-align: center;
}
  

/* .signup-link{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
} */

/* Not working */
/* .signup-button:hover{
    background: blue !important;
} */

.signup-button-container{
    text-align: center;
    padding: 5%;
}

/* SIGN UP PAGE */

.signup{
    background: rgba(5, 58, 192, 0.3);
}

.signup-form{
    padding: 10%;
    padding-top: 2%;
}

.signup-form-header{
    font: var(--f-heading);
    margin-top: 3%;
    border-bottom: 1px solid var(--cs-black);
    font-size: 2.2rem;
}

.address-btn{
    padding-bottom: 3%;
}

.signup-btns{
    width: 100%;
}