:root{
    /* fonts */
    --f-heading: 3rem 'Poiret One', cursive;
    --f-alerts: 2rem 'Bebas Neue', sans-serif;
    --f-para: 1rem 'Montserrat', sans-serif;

    /* color scheme */
    --cs-green: #17A407;
    --cs-dark-green: #385926;
    --cs-moss: #698945;
    --cs-light-green: #A8C159;
    --cs-olive: #9A9640;
    --cs-grey: #E0E0E0;
    --cs-black: #3C3C3C;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1{
    font: var(--f-heading) !important;
}

p{
    font: var(--f-para) !important;
}